name: Python build

on:
  push:
    branches: [master, dev, dev-cpu]
  pull_request:
    branches: ['**' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v2

      # Dependencies
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python run.py setup

      # Test
      # pytest --cov=./ --cov-report=xml --doctest-modules
      - name: Test with pytest
        run: | 
          python run.py coverage/xml

      # Sonar Qube
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}